@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-background font-sans text-text;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }

    img {
        @apply max-w-full;
    }

    button,
    input,
    textarea,
    select {
        font: inherit;
    }
}

@layer components {
    .container-custom {
        @apply max-w-7xl mx-auto px-5 lg:px-8;
    }

    .hero-gradient {
        background: linear-gradient(
            90deg,
            theme("colors.hero") 0%,
            theme("colors.hero") 45%,
            #EEE8E4 50%,
            #EEE8E4 100%
        );
    }

    .input-shadow {
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15)
    }
}